.player-div {
  align-items: center;
  background-color: grey;
  display: flex;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  height: 49px;
  justify-content: space-evenly;
  line-height: 47px;
  width: 625px;
}

.image {
  border-radius: 112.5px;
  height: 34px;
  width: 34px;
}